<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lohtech.swarm.model.product.mapper.PmsProductMapper">
  <resultMap id="BaseResultMap" type="com.lohtech.swarm.model.product.pojo.PmsProduct">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="product_category_id" jdbcType="BIGINT" property="productCategoryId" />
    <result column="product_attribution_id" jdbcType="BIGINT" property="productAttributionId" />
    <result column="original_price" jdbcType="DECIMAL" property="originalPrice" />
    <result column="promotion_price" jdbcType="DECIMAL" property="promotionPrice" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="cover_pic" jdbcType="VARCHAR" property="coverPic" />
    <result column="album_pics" jdbcType="VARCHAR" property="albumPics" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
</mapper>